<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{include file="db:myfriend_inc_breadcrumbs.html"}>

<form method="post" action="index.php?action=invitation">
    <{xoops_token form=$ActionForm}>

<article>

    <h3><{$smarty.const._MD_MYFRIEND_INVITATION}></h3>

    <label for="email">
        <{$smarty.const._MD_MYFRIEND_INVI_MAIL}>
        <input type="email" name="email" size="30" maxlength="60" value=""
               autocomplete="email"
               pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$">
    </label>

    <label>
    <{$smarty.const._MD_MYFRIEND_AISATSU}>
    <textarea name="note" cols="50" rows="5"><{$smarty.const._MD_MYFRIEND_MESSAGE_INVITE}></textarea>
    </label>

    <footer>
    <input role="button" type="submit" value="<{$smarty.const._MD_MYFRIEND_SEND}>">
    </footer>

</article>

</form>
