<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{include file="db:myfriend_inc_breadcrumbs.html"}>

<form action="index.php?action=register" method="post">
    <{xoops_token form=$actionForm}>

<article>

    <label class="grid-2">
    <{$smarty.const._MD_USER_LANG_NICKNAME}>
    <input type="text" value="<{$actionForm->get('uname')|xoops_escape}>" readonly>
    </label>

    <label class="grid-2">
    <{$smarty.const._MD_USER_LANG_EMAIL}>
    <input type="text" value="<{$actionForm->get('email')|xoops_escape}>">
    </label>

    <footer class="action-control">
    <input type="button" class="outline" name="confirm_back" value="<{$smarty.const._CANCEL}>" onclick="location.href='index.php?action=regist&amp;actkey=<{$actionForm->get('actkey')|xoops_escape}>'">
    <input type="submit" value="<{$smarty.const._MD_USER_LANG_FINISH}>">
    </footer>

</article>
</form>
