<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{include file="db:myfriend_inc_breadcrumbs.html"}>

<form name="postform" method="post" action="index.php?action=approval">
    <input type="hidden" name="Denial" value="0">
    <input type="hidden" name="id" value="<{$modObj->getShow('id')}>">

<article>

    <header>
        <h2><{$smarty.const._MD_MYFRIEND_FROM_APP}> <{$auser->getShow('uname')}></h2>
    </header>

    <blockquote>
        <{$modObj->getShow('note')}>
    </blockquote>

    <label>
    <{$smarty.const._MD_MYFRIEND_MESSAGE}>
    <textarea cols="40" rows="8"></textarea>
    </label>

    <p><small><{$smarty.const._MD_MYFRIEND_MESSAGE_NOTICE}></small></p>

    <footer class="action-control">
        <input type="button" class="outline" name="btn" value="<{$smarty.const._MD_MYFRIEND_REFUSAL}>" onclick="postform.Denial.value='1';postform.submit();">
        <input type="submit" class="primary" name="subbtn" value="<{$smarty.const._MD_MYFRIEND_APPROVAL}>">
    </footer>

</article>

</form>
